body {
    font-family: 'Poppins', sans-serif;
}

.first {
    color: white;
    text-align: center;
    background-image: url(images/donation10.jpg);
    padding: 50px 60px;
}

.button {
    text-decoration: none;
    background-color: indianred;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}